email=info@actian.com
always-auth=true
@actian:registry=https://alm.actian.com/nexus/content/repositories/baas/
strict-ssl=false
//alm.actian.com/nexus/content/repositories/baas/:_auth="YmFhczpTb2RhXnBvcA=="
